
.contact {
  margin-top: 3px;

  .contact-box {
    font-family: 'LatoWeb';
    width: 100%;
    border-radius: 3px;
    background-color: rgba(228, 233, 240, 0.3);
    border: solid 1px #e4e9f0;
    padding: 20px;
    margin-bottom: 20px;

    &-header {
      .title {
        font-family: 'LatoWebBold';
        float: left;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: #345366;

      }
      .links {
        float: right;

        a {
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: #0092ff;
          border-bottom: 1px solid rgba(124, 143, 156, .5);
          text-decoration: none;
          margin-left: 5px;
        }
      }
    }

    &-content {
      p {
        margin: 0;
      }
    }

    .new-add-address{
      text-align: center;
      display: block;
      font-family: LatoWeb;
      font-size: 18px;
      letter-spacing: 0.1px;
      color: #7c8f9c;
      text-decoration: none;
      outline: none;
      min-height: 115px;
      line-height: 115px;
      i {
        margin-right: 5px;
      }
    }

  }

  .tab-content {
    .list-group {
      .list-group-item {
        background: rgba(228, 233, 240, 0.3);
        margin-top: 5px;
        font-family: LatoWeb;
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0.2px;
        color: #345366;
        border-radius: 3px;
        padding: 10.5px 15px;
        border: none;
        span {
          a {
            font-size: 13px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #0092ff;
            text-decoration: underline;
            margin-right: 10px;
          }
          a:nth-child(2n) {
            margin-right: 0;
          }
        }
      }

      .active-item {
        background: rgba(228, 233, 240, 1);
        margin-top: 10px;
      }
    }
    #address-contact-boxes {
      max-height: 472px;
      overflow-y: auto;
      padding: 0;
      @media screen and (max-width: 991px) {
        max-height: 215px;
        margin-bottom: 20px;
      }
      .address-contact-box {
        width: 100%;
        margin: 5px 0 5px;
        padding: 15px;
        background: rgba(228, 233, 240, 0.3);
        font-family: 'LatoWeb';
        .address-contact-box-header {
          .title {
            float: left;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.54;
            letter-spacing: 0.2px;
            color: #345366;
            max-width: 160px;

          }
          .address-links {
            float: right;

            a {
              font-size: 13px;
              letter-spacing: 0.2px;
              color: #0092ff;
            }
          }
        }

        .address-contact-box-content {
          p {
            font-size: 13px;
            line-height: 1.54;
            letter-spacing: 0.2px;
            color: #345366;
          }
        }

      }
    }
    #address-form-items {
      margin-right: -15px;
      .control-label {
        padding-top: 0;
        padding-right: 0;
      }
      .form-control {
        border: solid 1px #e4e9f0;
      }
      select {
        color: #8a9bab;
        height: 40px;

      }
      ::-webkit-input-placeholder {
        color: #8a9bab;
      }
      ::-moz-placeholder {
        color: #8a9bab;
      }
      :-ms-input-placeholder {
        color: #8a9bab;
      }
      :-moz-placeholder {
        color: #8a9bab;
      }

      .btn {
        border: none;
        width: 120px;
        @media screen and(max-width: 991px) {
          width: 100%;
          height: 40px;
        }
      }
    }
  }
}